.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.container {
  padding: 5px;
  width:25% !important;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 0px 0px 25px 2px;
  width: 100%;
}

.button {
  width: 100%;
}


.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}